* {
  font-family: "Roboto", sans-serif;
}
div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: rgb(121, 123, 228);
}

body {
  background-color: rgb(163, 170, 233);
}

h1 {
  text-align: center;
  color: navy;
  font-weight: bolder;
  background: radial-gradient(#fff, #437381);
  box-shadow: 8px 8px black;
}

img {
  height: auto;
  width: 90%;
  box-shadow: 5px 5px 5px 5px rgb(181, 181, 189);
  align-items: center;
  margin-left: 1rem;
}

h2 {
  text-align: center;
}

section {
  border: 1px rgb(68, 88, 153) solid;
  padding: 1rem;
}
