* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: #58a4b0;
}
nav ul {
  list-style-type: none;
}

nav a {
  display: block;
  color: #d8dbe2;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav .active {
  background-color: rgba(0, 0, 0, 0.3);
}
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 300;
}
header {
  background-color: #373f51;
  padding: 2rem;
  display: flex;
}

body {
  background-color: #d8dbe2;
}

.purpose {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.purpose-content h2 {
  text-decoration: underline;
}

.purpose-image {
  flex: 1;
  text-align: left;
}

section {
  background-color: #a9bcd0;
  padding: 20px;
  margin: 20px;
  width: 90%;
  flex-direction: column;
}

footer {
  background-color: #373f51;
  text-align: center;
  padding: 1rem;
}
