* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background: #d8dbe2;
}
/*Header*/
header {
  background-color: #373f51;
  padding: 2rem;
  display: flex;
}

h1 {
  color: #fff;
}

/*Navigation Bar*/
nav {
  background-color: #58a4b0;
}
nav ul {
  list-style-type: none;
}

nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav .active {
  background-color: rgba(0, 0, 0, 0.3);
}

/*Hero image*/
.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: url(https://raw.githubusercontent.com/jennypgalvez/wdd230/main/chamber/images/guatemala-city.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero .btn {
  display: block;
  width: 200px;
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-decoration: none;
  font-size: 1em;
  border: 3px solid white;
  border-radius: 20px;
  background-color: #373f51;
}

.hero .btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*current events section*/
section {
  width: 100%;
  height: 100vh;
  background-color: #d8dbe2;
}

section .leftBox {
  width: 50%;
  height: 100%;
  float: left;
  padding: 50px;
}

section .leftBox .content {
  background: #a9bcd0;
  padding: 40px;
  transition: 0.5s;
}

section .leftBox .content h1 {
  font-size: 50px;
}

section .leftBox .content p {
  margin: 10px 0 0;
  padding: 0;
}

section .events {
  position: relative;
  width: 35%;
  height: 100%;
  background: hsl(211, 29%, 74%);
  float: right;
}

section .events ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 40px;
}

section .events ul li {
  list-style: none;
  background: #fff;
  height: 180px;
  margin: 15px 0;
}

section .events ul li .time {
  position: relative;
  padding: 20px;
  background: #58a4b0;
  width: 30%;
  height: 100%;
  float: left;
  text-align: center;
  transition: 0.5s;
}

section .events ul li:hover .time {
  background-color: rgba(0, 0, 0, 0.8);
}

section .events ul li .time h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  line-height: 30px;
}

section .events ul li .time h2 span {
  font-size: 20px;
}

section .events ul li .details {
  padding: 20px;
  width: 70%;
  height: 100%;
  float: left;
}

section .events ul li .details h3 {
  position: relative;
  font-size: 18px;
}

section .events ul li .details p {
  position: relative;
  margin: 10px 0 0;
  font-size: 15px;
}

section .events ul li .details a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 2px solid #373f51;
  margin-top: 12px;
  font-size: 12px;
  transition: 0.5s;
}

section .events ul li .details a:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-color: rgba(0, 0, 0, 0.8);
}

/*Weather card*/

.weather-card,
.forecast {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  background: #a9bcd0;
}

.forecast ul {
  list-style: none;
}

/*company advertisements*/

.ads {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 2rem;
  height: 80%;
  justify-content: center;
}

.company {
  padding: 2rem;
  background-color: #a9bcd0;
  height: 100%;
}

.company h2 {
  margin: 5px;
  text-align: center;
  margin-bottom: 0.5rem;
}

/*Footer*/
footer {
  background-color: #2e6171;
  text-align: center;
  padding: 1rem;
  color: white;
}

/*small view navigation hamburger menu */
#menu {
  font-size: 1.5rem;
  border: 1px solid #e2c2ff;
  padding: 3px 7px 6px;
  background-color: #f0e6ef;
  color: #000;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❌";
}

.navigation li {
  display: none;
}

.open li {
  display: block;
  width: 100%;
}
.open li a {
  display: block;
}

/*small view events */
@media (max-width: 60rem) {
  section {
    height: 100%;
    background-position: center;
    padding: 1rem;
  }
  section .leftBox {
    width: 100%;
    height: auto;
    float: none;
    padding: 20px;
  }
  section .events {
    width: 100%;
    height: auto;
    padding: 1rem;
    float: none;
    background-color: #a9bcd0;
  }
  section .events ul {
    position: relative;
    transform: translateY(0px);
    padding: 0 20px 20px;
  }
}

/*-----------------------------------------discover.html---------------------------------------- */
/*sidebar*/
.main-part {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  height: auto;
}

.sidebar {
  background-color: #a9bcd0;
  align-items: center;
  padding: 1rem;
  height: auto;
  width: 95%;
}

.body-part {
  background-color: #d8dbe2;
  width: auto;
  height: auto;
  padding: 1rem;
}

.bar-content {
  margin: 1rem;
  border: 2px solid black;
  padding: 1rem;
  text-align: center;
}

.bar-content h2 {
  text-align: left;
  margin-bottom: 1rem;
}

.bar-content p {
  margin-top: 2rem;
}

/*Body Part*/

picture img {
  background-color: black;
  animation: fade 8s;
  width: 95%;
  align-items: center;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*-----------------------------------------join.html---------------------------------------- */
/*FORM*/

form fieldset {
  margin: 2rem 0;
  border: 1px solid #373f51;
  border-radius: 10px;
  padding: 0.5rem 2%;
}

form legend {
  font-weight: bold;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
}

form label.top input,
textarea {
  display: block;
  border: solid #373f51 1px;
  border-radius: 4px;
  padding: 0.75rem;
  width: 100%;
  max-width: 25rem;
  background-color: #f5f5dc;
}

form label.sbs {
  display: block;
  padding: 0.75rem 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.benefitsList li {
  margin-bottom: 8px;
}

form input.submitBtn {
  border: none;
  background-color: #a9bcd0;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 25rem;
}

form label.top input:required {
  border-left: rgb(230, 140, 140) solid 6px;
}

form label.top input:required:valid {
  border-left: rgb(140, 201, 122) solid 6px;
}

.formTitle {
  margin-left: 1rem;
  margin-top: 1rem;
}

.recordMain,
.recordMain h1 {
  color: black;
  text-align: center;
  padding: 1rem;
}

.membershipLevel p {
  padding: 0.5rem;
}
/*-----------------------------------------directory.html---------------------------------------- */
