@media only screen and (min-width: 38rem) {
  #menu {
    display: none;
  }
  .navigation li {
    display: block;
  }
  .ads {
    display: flex;
    flex: 1;
    margin: 0;
  }
  .company {
    width: 80%;
  }
  .weather {
    height: 30vh;
  }
}
