@media only screen and (min-width: 38rem) {
  #menu {
    display: none;
  }
  .navigation li {
    display: block;
  }
  .ads {
    display: flex;
    flex: 1;
    margin: 0;
  }
  .company {
    width: 80%;
  }
  .weather {
    height: 30vh;
  }

  /*-----------------------------------------discover.html---------------------------------------- */
  .main-part {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
  }

  .body-part {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /*Hover*/
  picture img:hover {
    filter: contrast(50%);
  }
}
