@media only screen and (min-width: 38rem) {
  #menu {
    display: none;
  }
  .navigation li {
    display: block;
  }

  .entire-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .herolabel p {
    margin: 0;
    padding: 0.25rem;
    font-weight: 400;
    font-size: 2rem;
  }
  .herolabel {
    top: 30px;
    left: 10px;
    padding: 1.5rem;
  }
}
