@media only screen and (min-width: 38rem) {
  #menu {
    display: none;
  }
  .navigation li {
    display: block;
  }

  .entire-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}
